/* style.css*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
		  font-family: arial;
		  padding: 0;
		  margin: 0;
}

html, body{
	border: 0;
	height: 100%;
	min-height: 100%;
}
body{
	background: url('../images/blu_stripes.png'); /*credit: subtlepatterns.com */
}
#container {	/* container for entire page */
	min-height: 100%;
	position: relative;
	padding-bottom: 420px; /* (height of footer) + (relative position of content) + (extra space) */
}


/***** Text Styles *****/
a:visited{
	color: rgb(40,20,255);
}
a:link{
	color: rgb(40,20,255);
	transition: all 0.4s;
	text-decoration: none;
}
a:hover{
	color: rgb(155,135,255);
	text-decoration: underline;
}

b {
	font-weight: bold;
}
i {
	font-style: italic;
}
strong {
	font-weight: bold;
	font-style: italic;
}
h1{
	color: black;
}
h2{
	font-size: 18px;
}
p{
	font-size: 16px;
	margin: 15px 0 5px 0;
}
p.copyright{
	text-align: center;
	font-size: 12px;
}


/***** form styles *****/
.note{
	font-size: 16px;
	font-style: italic;
}
.success{

	font-weight: bold;
	display: block;
	color: green;
}
.error{
	color: red;
	font-size: 13px;
}
.form-text {
	font-size: 14px;
	margin-bottom: 4px;
}
.contact-form-text{
	font-size: 14px;
	margin-bottom: 4px;
	display: block;
}
.contact-form-text-small {
	font-size: 12px;
	margin-bottom: 4px;	
	display: block;
}
#howYouHeardLabel{
	padding-top: 10px;
}
input, textarea, select {
	margin: 5px 0 5px 0;
	padding: 5px;
}
input[type=text]{
	width: 220px;
	height: 25px;
}
input[type=password]{
	width: 220px;
	height: 25px;
}
input[type=submit]{
	height: 30px;
	width: 80px;
}

/***** etc *****/
.post-message{
	background: #eef;
	margin: 10px 0 10px 0;
}
.alert-info { 
/* used primarily for browser output for troubleshooting code */
	color: orange;
	font-size: 16px;
	font-weight: bold;
	display: block;
}
.center-container-x {
	float: left;
	position: relative;
	left: 50%;
}
.center-fixer-container-x{
	float: left;
	position: relative;
	left: -50%;
}
.center-container-y{
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

